body {background-image: url(./imaxes/xente.jpg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: cover;
  color: antiquewhite;
  display: flex;
  justify-content: left;
}
.App {
  text-align: center;
}
.clientes
{display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
padding: 2px;}
.inputTotal
{width: 6em}