/*body {background-image: url(./imaxes/xente.jpg);
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: cover;
  color: antiquewhite;
}


.App {
  text-align: center;
}*/

